services:
  backend:
    build: depense_tracker/backend
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: app
      DB_PASSWORD: password
      DB_NAME: expenses
    networks:
      - app_network

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: expenses
      POSTGRES_USER: app
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network

  frontend:
    build: depense_tracker/frontend
    ports:
      - "8080:80"
    networks:
      - app_network
volumes:
  db_data:

networks:
  app_network:
    driver: bridge
