services:
  backend:
    build: depense_tracker/backend
    environment:
      DB_HOST: db
      DB_USER: app
      DB_PASSWORD: password
      DB_NAME: expenses
    restart: unless-stopped
    networks:
      - app_network

  frontend:
    build: depense_tracker/frontend
    restart: unless-stopped
    networks:
      - app_network

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: expenses
      POSTGRES_USER: app
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app_network

  caddy:
    image: caddy:2
    ports:
      - "80:80"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
    restart: unless-stopped
    networks:
      - app_network

  adminer:
    image: adminer
    restart: unless-stopped
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
